{% extends 'base.html' %}

{%block title%}About{%endblock%}

{%block ul%}Home{%endblock%}
    
{%block area%}
    <div class="about-div">
        <img class="about-profile" src="https://media.licdn.com/dms/image/D4D03AQGVAWW0MdHX0g/profile-displayphoto-shrink_800_800/0/1675869245920?e=2147483647&v=beta&t=ra5ENM0wDBFD0tAPmyI0VqjU7CaDN9NHD_dXJx0zYSY" alt="">
        <label class="about-txt" for="">Hello,</label>
        <div class="about-box">
        <label class="about-txt" for="">Myself Mohit and i'm a webdeveloper.
         This Portfolio will present about my skills.
         I'm always looking for ways to improve my skills and expand my knowledge,
         and passion for web development, 
        I will be a valuable asset to any team and sure to make a significant impact in the industry.</label>
</div>
        </div>
        {%endblock%}