{% extends 'base.html' %}

{%block title%}Mohit{%endblock%}

{%block ul%}Mohit{%endblock%}
{%block area%}
        <div class="lft">
            <img class="profile" src="https://media.licdn.com/dms/image/D4D03AQGVAWW0MdHX0g/profile-displayphoto-shrink_800_800/0/1675869245920?e=2147483647&v=beta&t=ra5ENM0wDBFD0tAPmyI0VqjU7CaDN9NHD_dXJx0zYSY" alt="">
        </div>
        <div class="rht">
            <label class="name bname" for="">Hi,I'm <span style="color:#f70585;">Mohit</span>.</label>
            <label class="txt" for="">A Fullstack Developer</label>
           <a href="about" class="btn btn-a">About Me</a>
           <a href="project" class="btn btn-a" >Project</a>
           <a href="services" class="btn btn-a">Services</a>
           <a href="contact" class="btn btn-a">Contact Me</a>
        </div>
{%endblock%}
    
</body>
</html>