{% extends 'base.html' %}

{%block title%}Project{%endblock%}

{%block ul%}Home{%endblock%}

{%block area%}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="">Netflix</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">01</span>
                                
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">streaming webapplication</span>
                                <span class="widget-49-meeting-time">Html,Css,Python</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span><a href="netflix/home" target="_blank">Home Page Link</a></span></li>
                            <li class="widget-49-meeting-item"><span><a href="netflix/singup" target="_blank">Singup Page Link</a></span></li>
                            <li class="widget-49-meeting-item"><span><a href="netflix/login" target="_blank">Login Page Link</a></span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="netflix" target="_blank" class=" btn-a">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="">Ongoing</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">02</span>
                                
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Shopping webapplication</span>
                                <span class="widget-49-meeting-time">Html,Css,Js,Python</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span><a href="shop" target="_blank">Home Page Link</a></span></li>
                            <li class="widget-49-meeting-item"><span><a href="netflix/singup" target="_blank">Singup Page Link</a></span></li>
                            <li class="widget-49-meeting-item"><span><a href="netflix/login" target="_blank">Login Page Link</a></span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="netflix" target="_blank" class=" btn-a">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="">Comming soon</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">03</span>
                                
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Encryption webapplication</span>
                                <span class="widget-49-meeting-time">Html,Css,Bootstrap,Python</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span><a href="netflix/home" target="_blank">Home Page Link</a></span></li>
                            <li class="widget-49-meeting-item"><span><a href="netflix/singup" target="_blank">Singup Page Link</a></span></li>
                            <li class="widget-49-meeting-item"><span><a href="netflix/login" target="_blank">Login Page Link</a></span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="netflix" target="_blank" class=" btn-a">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    </div>

{%endblock%}