{% extends 'base.html' %}

{%block title%}Mohit{%endblock%}

{%block ul%}Home{%endblock%}
{%block area%}
    <div class="about-div">
        <img class="about-profile" src="https://media.licdn.com/dms/image/D4D03AQGVAWW0MdHX0g/profile-displayphoto-shrink_800_800/0/1675869245920?e=2147483647&v=beta&t=ra5ENM0wDBFD0tAPmyI0VqjU7CaDN9NHD_dXJx0zYSY" alt="">
        <label class="about-txt" for="">Hello,</label>
        <div class="about-box">
        <label class="about-txt" for=""></label>
</div>
        </div>
        {%endblock%}